.form {
  background: var(--formBg);
  padding: 87px 70px 80px 70px;
  border-radius: $borderRadius;
  max-width: $formContainerWidth;
  margin-inline: auto;
  text-align: center;
  @include mobile {
    padding: 30px;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 33px;
    color: $ttlColor;
    margin-bottom: 12px;
  }
  @include mobile {
    font-style: 26px;
  }

  &__desc {
    font-weight: 400;
    font-size: 13px;
    color: $txtColor;
    margin-bottom: 60px;
  }

  &__row {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 13px;
    color: $ttlColor;
  }

  &__forgot {
    font-weight: 600;
    font-size: 13px;
    color: $txtColor;
    &:hover {
      color: #03073d;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 32px;
    color: var(--formBg);
  }

  &__sign {
    font-weight: 400;
    font-size: 13px;
    color: $ttlColor;
  }
}
